/* Reset some default styles */
:root {
    /* colors */
    --bg: #91a1b6;
    --red: #FF4500;
    --black: #333;
    --white: #fff;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    margin: 0;
} */

h1 {
    color: var(--white);
    background-color: var(--black);
    border-radius: 10px;
    border-width: 5px;
    display: block;
    text-align: center;
    width: max-content;
    margin: 0 auto;
    padding: 5px 15px;
    font-size: 50px;
    text-wrap: wrap;
}

section {
    margin: 20px 0;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

section h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #aaa;
}

section h4 {
    font-weight: normal;
}

section ol {
    list-style: decimal;
    margin-left: 20px;
    text-align: left;
}

section li {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

section p {
    text-align: left;
}



a {
    color: #FF4500;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: #228B22;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    text-align: center;
    background-color: var(--red);
    padding: 20px;

    /* background-image: url('path-to-your-image.jpg'); */
    /* Replace with the actual image path */
    background-size: contain;
    background-repeat: no-repeat;
    /* Adjust the background size as needed */
    background-position: center;
    /* Center the background image */
    color: white;
    /* Text color on the header */
    text-align: center;
    /* Center-align the text */
    padding: 100px;
    /* Add padding for content within the header */

}

header h1 {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border-width: 0px;
}

.logo {
    width: 150px;
    height: auto;
    margin-top: 10px;
}


nav {
    /* make navbar follow screen */
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 100%;
    background-color: rgba(51, 51, 51, 1);
    transition: background-color 0.3s ease;
}

nav img {
    width: auto;
    /* Set the maximum width of the image to 100% of the container */
    height: 35px;
    /* Allow the image to maintain its aspect ratio */
    display: block;
    /* Remove any extra space below the image */
    float: left;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
}

nav .left-links {
    float: left;
}

nav .right-links {
    float: right;
}



nav li {
    margin: 10px 5px;
}

nav a {
    color: #FFF;
    padding: 10px 20px;
    transition: background-color 0.3s;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    border-radius: 5px;
}


nav a:hover {
    background-color: var(--red);
    color: var(--white);
}

main {
    max-width: 800px;
    margin: 20px auto;
    /* padding: 20px; */
    /* background-color: #FFF; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

/* footer and icons */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: auto;
    /* Push footer to the bottom */
}

.social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.social-media-links a {
    font-size: 20px;
    display: inline-block;
    margin: 10px;
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
    background-color: #FF4500;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.social-media-links a:hover {
    background-color: #FF6347;
    transform: scale(1.1);
}

footer p {
    margin-top: 10px;
    font-size: 14px;
}

.social-media-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}


.logo {
    width: 180px;
    height: 120px;
    margin-top: 10px;
    border: 5px solid var(--black);
    background-color: #FFF;
    padding: 10px;
    border-radius: 10px;
}

.email-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #FF4500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.email-button:hover {
    background-color: #FF6347;
}


.carousel {
    position: relative;
    width: 60%;
    margin: auto;
    overflow: hidden;
}

.carousel-images img {
    width: 100%;
    display: none;
    transition: 0.5s ease;
}

.carousel .prev,
.carousel .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.carousel .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.carousel .next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.carousel .prev:hover,
.carousel .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



/* table styling for GOAT list */
/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

/* Style for table headers */
/* Style for table headers */
th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    /* Add borders to cells */
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fff;
}

/* Style for alternating row background colors */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Additional styling */
table {
    font-family: Arial, sans-serif;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsive design */
@media (max-width: 768px) {
    table {
        font-size: 12px;
    }
}
















/* for members page */

/* Style the member grid within a term section */
.member-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

/* Styles for individual members */
.member {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Portrait style */
.member-portrait {
    max-width: 100px;
    max-height: 100px;
    /* height: auto; */
    border-radius: 50%;
    margin: 0 auto 10px;
}

/* Member name style */
.member h3 {
    font-size: 20px;
    margin: 10px 0 5px;
    color: #333;
    vertical-align: top;
}

/* Member description style */
.member p {
    font-size: 16px;
    color: #555;
    margin: 0;
}

/* Member link button style */
.member-link {
    margin-top: 10px;
    padding: 8px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #FF4500;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.member-link:hover {
    background-color: #FF6347;
}

.best-shot-link {
    margin-top: 10px;
    padding: 8px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #2600ff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.best-shot-link:hover {
    background-color: #ff0000;
    color: #fff
}



/* styles for officers page */
/* Officers page styles */




.officer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

/* Styles for individual members */
.officer {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

/* Portrait style */
.officer-portrait {
    max-width: 100px;
    max-height: 100px;
    /* height: auto; */
    border-radius: 50%;
    margin: 0 auto 10px;
}

.officer p {
    align-self: center;
    text-align: center;
    align-items: center;
    margin: 5px 0;
}

/* Member name style */
.officer p.name {
    font-size: 24px;
    margin: 5px 0;
    color: #000;
    vertical-align: top;
    font-weight: bold;
}

.officer p.position {
    font-size: 15px;
    margin: 5px 0;
    color: #222;
}

.officer p.quote {
    font-style: italic;
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

/* Styles for the achievements section */


.achievements {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.achievements h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.achievements ul {
    list-style-type: disc;
    text-align: left;
    padding-left: 20px;
    margin: 0;
}

.achievements li {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}




/* styles for HoF */
section.tournaments ul {
    list-style-type: disc;
    /* Use bullet points */
    margin-left: 20px;
    /* Adjust the left margin to control the indentation */
}

section.tournaments li {
    margin-left: 0;
    /* Reset the margin for list items to remove extra indentation */
}

section.tournaments h3,
section.tournaments h4,
section.tournaments ul {
    text-align: left;
}

th {
    text-align: center
}